<!DOCTYPE html>
<html lang="en" ng-app="FlickrSearchrApp">
<head>
	<meta charset="UTF-8">
	<title>Flickr Searchr</title>
	<link rel="stylesheet" href="styles.css">
	<script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.3.10/angular-animate.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="FlickrSearchrCtrl">
	<div class="main">
		<form name="searchForm" novalidate ng-submit="submit()">
			<h1>Flickr Searchr</h1>
			<input type="text" required ng-model="searchString"
				ng-class="{error:searchForm.$submitted && searchForm.$invalid}"/>
			<input type="submit" value="Submit"/>
			<h2 ng-show="searchForm.$submitted && searchForm.$invalid">Please enter a search term</h2>
			<h2 class="notification" ng-show="notificationVisible">{{notification}}</h2>
		</form>
		<hr/>
		<div ng-if="photos.length">
			<div class="results">
				<h2>{{photos.length}} pictures found for "{{search}}"</h2>
				<div class="pictures">
					<img ng-repeat="photo in photos" src="{{thumbnailUrl(photo)}}" ng-click="thumbnailClick(photo)"/>
				</div>
			</div>
		</div>
	</div>
</body>
</html>