<!DOCTYPE html>
<html lang="en" ng-app="PromisesApp">
<head>
	<meta charset="UTF-8">
	<title>Promises Test</title>
	<script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
	<script>
angular.module('PromisesApp', [])
.controller('PromisesExampleCtrl', function ($scope, $q, $timeout, $http) {

	function wait() {
		var defer = $q.defer();

		$timeout(function () {
			defer.resolve();
		}, 2000);

		return defer.promise;
	}
	function notify() {
	  $scope.notifySaved = true;
	  return wait().then(function() {
	     $scope.notifySaved = false;
	  });
	}
	$scope.saveSettings = function(valid) {
		var url = valid ? '/api/update_password'
						: '/broken-api/update_password';
		$http.put(url, $scope.data)
		.success(notify)
		.error(function() {
			$scope.error = true;
			notify().then(function() {
				$scope.error = false;
			});
		})
	};
});

angular.module("PromisesApp").config(["$provide",function(a){a.decorator("$http",["$delegate","$timeout",function(a,b){return a.put=function(a){var c,d,e={success:function(a){return c=a,this},error:function(a){return d=a,this}};return b(function(){a.indexOf("broken")>=1?d():c()},1e3),e},a}])}]);

	</script>
</head>
<body>
    <div ng-app="PromisesApp" ng-controller="PromisesExampleCtrl">
      <button ng-click="saveSettings(true)">Submit Data (success)</button>
      <button ng-click="saveSettings()">Submit Data (error)</button>
      <div ng-if="notifySaved && !error" class="notification-success">
        Success: Your password has been saved.
      </div>
      <div ng-if="notifySaved && error" class="notification-failed">
        Error! Your password has not been saved.
      </div>
    </div>
    <form ng-submit="saveSettings()">
      <p>
        <label>Password:</label>
        <input type="password" ng-model="data.password" name="password" required="" />
      </p>
      <p>
        <label>Password Confirmation:</label>
        <input type="password" ng-model="data.password_confirm" name="password_confirm" required="" />
      </p>
    </form>
  </body>
</html>